# 데이터 분석에 유용한 기능들...

### - list comprehension 기본 구조

In [10]:
numbers = [1,2,3,4,5] # []는 list 자료형
square1 = [] # 빈 list
for i in numbers: # numbers 만큼 반복
    square1.append(i**2) # append()를 이용해 빈 list에 담는다._ (i**2)는 i를 제곱하라
    
square1

[1, 4, 9, 16, 25]

In [11]:
square2 = [i ** 2 for i in numbers] # list comprehension
square2

[1, 4, 9, 16, 25]

In [12]:
square3 = []

for i in numbers:
    if i >=3: # 3보다 크거나 같은 숫자만 아래 함수를 실행
        square3.append(i**2)
        
square3

[9, 16, 25]

In [4]:
square4 = [i ** 2 for i in numbers if i >= 3] # 조건문을 추가한 list comprehension 구조
square4

[9, 16, 25]

### - List comprehension : 리스트 변환하는 표현식으로 유용한 기능

In [19]:
day = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
print([x for x in day])

['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']

In [20]:
data = [35, 56, -53, 45, 27, -28, 8, -12]
print([x for x in data if x>=0])

[35, 56, 45, 27, 8]

In [21]:
data = [35, 56, -53, 45, 27, -28, 8, -12]
print([x **2 for x in data if x>=0])

[1225, 3136, 2025, 729, 64]

### - split(구분자) : 구분자로 구분, 기본값은 공백

In [18]:
test_text = 'the-joeun-Computer-academy-with-python'
result = test_text.split('-') # '-'를 기준으로 데이터를 분리해 리턴한다. 
result # list 자료구조로 결과를 리턴!

['the', 'joeun', 'Computer', 'academy', 'with', 'python']

In [24]:
test_text1 =['the', 'joeun', 'Computer', 'academy', 'with', 'python']
print(test_text1)
result1 = '-'.join(test_text1) # '-'를 기준으로 데이터를 연결해 리턴한다. 
print(result1)

['the', 'joeun', 'Computer', 'academy', 'with', 'python']
the-joeun-Computer-academy-with-python

##### split() 와 join()의 응용

In [26]:
result2 = '-'.join('345.123'.split('.')) # .을 기준으로 나누고 -를 기준으로 연결
result2

'345-123'

### - enumerate(list) : 인덱스와 값을 함께 반환

In [28]:
for i, name in enumerate(['a','b','c','d','e']) : #list로 값을 넣어주면 인덱스와 매칭해서 값을 담아준다. 
    print(i, name) # i에는 인덱스를, name에는 값을 담아준다.

0 a
1 b
2 c
3 d
4 e

In [29]:
seq = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
dict(enumerate(seq)) # 입력으로 전달된 데이터 셋을 딕셔너리로 형변환.{key:value, ...}

{0: 'mon', 1: 'tue', 2: 'wed', 3: 'thu', 4: 'fri', 5: 'sat', 6: 'sun'}

In [32]:
key_seq = 'abcdefg'
value_seq = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
dict(zip(key_seq, value_seq)) # zipper처럼 양쪽의 데이터가 묶이며 담긴다.

{'a': 'mon',
 'b': 'tue',
 'c': 'wed',
 'd': 'thu',
 'e': 'fri',
 'f': 'sat',
 'g': 'sun'}

### - Counter를 이용한 카운팅
* Count는 아이템의 갯수를 자동으로 카운팅.

In [33]:
from collections import Counter

In [34]:
message = '''Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.'''

In [37]:
counter = Counter(message.split())
print(counter) # 각 단어의 출연 빈도수를 딕셔너리로 담아서 결과를 반환.

Counter({'the': 6, 'Lorem': 4, 'of': 4, 'Ipsum': 3, 'and': 3, 'dummy': 2, 'text': 2, 'has': 2, 'a': 2, 'type': 2, 'It': 2, 'with': 2, 'is': 1, 'simply': 1, 'printing': 1, 'typesetting': 1, 'industry.': 1, 'been': 1, "industry's": 1, 'standard': 1, 'ever': 1, 'since': 1, '1500s,': 1, 'when': 1, 'an': 1, 'unknown': 1, 'printer': 1, 'took': 1, 'galley': 1, 'scrambled': 1, 'it': 1, 'to': 1, 'make': 1, 'specimen': 1, 'book.': 1, 'survived': 1, 'not': 1, 'only': 1, 'five': 1, 'centuries,': 1, 'but': 1, 'also': 1, 'leap': 1, 'into': 1, 'electronic': 1, 'typesetting,': 1, 'remaining': 1, 'essentially': 1, 'unchanged.': 1, 'was': 1, 'popularised': 1, 'in': 1, '1960s': 1, 'release': 1, 'Letraset': 1, 'sheets': 1, 'containing': 1, 'passages,': 1, 'more': 1, 'recently': 1, 'desktop': 1, 'publishing': 1, 'software': 1, 'like': 1, 'Aldus': 1, 'PageMaker': 1, 'including': 1, 'versions': 1, 'Ipsum.': 1})

In [39]:
print(type(counter))

<class 'collections.Counter'>

* Counter(dict) -> list 형태로 반환

In [40]:
print(counter.most_common()) #most_common() list로 형변환(튜플()로 전환하고 그것을 리스트에 담음.)

[('the', 6), ('Lorem', 4), ('of', 4), ('Ipsum', 3), ('and', 3), ('dummy', 2), ('text', 2), ('has', 2), ('a', 2), ('type', 2), ('It', 2), ('with', 2), ('is', 1), ('simply', 1), ('printing', 1), ('typesetting', 1), ('industry.', 1), ('been', 1), ("industry's", 1), ('standard', 1), ('ever', 1), ('since', 1), ('1500s,', 1), ('when', 1), ('an', 1), ('unknown', 1), ('printer', 1), ('took', 1), ('galley', 1), ('scrambled', 1), ('it', 1), ('to', 1), ('make', 1), ('specimen', 1), ('book.', 1), ('survived', 1), ('not', 1), ('only', 1), ('five', 1), ('centuries,', 1), ('but', 1), ('also', 1), ('leap', 1), ('into', 1), ('electronic', 1), ('typesetting,', 1), ('remaining', 1), ('essentially', 1), ('unchanged.', 1), ('was', 1), ('popularised', 1), ('in', 1), ('1960s', 1), ('release', 1), ('Letraset', 1), ('sheets', 1), ('containing', 1), ('passages,', 1), ('more', 1), ('recently', 1), ('desktop', 1), ('publishing', 1), ('software', 1), ('like', 1), ('Aldus', 1), ('PageMaker', 1), ('including', 1), ('versions', 1), ('Ipsum.', 1)]

*  list -> dict 형태로 반환

In [42]:
print(dict(counter.most_common()))

{'the': 6, 'Lorem': 4, 'of': 4, 'Ipsum': 3, 'and': 3, 'dummy': 2, 'text': 2, 'has': 2, 'a': 2, 'type': 2, 'It': 2, 'with': 2, 'is': 1, 'simply': 1, 'printing': 1, 'typesetting': 1, 'industry.': 1, 'been': 1, "industry's": 1, 'standard': 1, 'ever': 1, 'since': 1, '1500s,': 1, 'when': 1, 'an': 1, 'unknown': 1, 'printer': 1, 'took': 1, 'galley': 1, 'scrambled': 1, 'it': 1, 'to': 1, 'make': 1, 'specimen': 1, 'book.': 1, 'survived': 1, 'not': 1, 'only': 1, 'five': 1, 'centuries,': 1, 'but': 1, 'also': 1, 'leap': 1, 'into': 1, 'electronic': 1, 'typesetting,': 1, 'remaining': 1, 'essentially': 1, 'unchanged.': 1, 'was': 1, 'popularised': 1, 'in': 1, '1960s': 1, 'release': 1, 'Letraset': 1, 'sheets': 1, 'containing': 1, 'passages,': 1, 'more': 1, 'recently': 1, 'desktop': 1, 'publishing': 1, 'software': 1, 'like': 1, 'Aldus': 1, 'PageMaker': 1, 'including': 1, 'versions': 1, 'Ipsum.': 1}

In [44]:
print('value : ',counter['Lorem']) # [key값]으로 value접근 가능(반대도 가능)

value :  4